body {
  background-color: #292929;
}

.navbar-side {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  list-style: none;
  border-right: 2px solid #ccc;
  background-color: #f7f7f9;
  overflow-y: scroll;
  z-index: 1000;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

@media (min-width: 280px) {
  .navbar-side {
    width: 50%;
  }
  .locations-list-li {
    font-size: .1rem;
  }
}

@media (min-width: 576px) {
  .navbar-side {
    width: 50%;
  }
  .locations-list-li {
    font-size: .8rem;
  }
}

@media (min-width: 768px) {
  .navbar-side {
    width: 50%;
  }
  .locations-list-li {
    font-size: .5rem;
  }
}

@media (min-width: 992px) {
  .navbar-side {
    width: 30%;
  }
  .locations-list-li {
    font-size: .5rem;
  }
}

.reveal {
 -webkit-transform: translateX(0%);
 -ms-transform: translateX(0%);
 transform: translateX(0%);
 -webkit-transition: 300ms ease;
 transition: 300ms ease;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #333;
  filter: blur(15px);
  opacity: 0.5;
  z-index: 990;
}

.navbar-side-item {
  padding: 1.5rem 0;
  margin: 0;
  border-bottom: 2px solid #ccc;
  height: 5rem;
}

.icon {
  font-size: 2rem;
}

.sad-icon {
  font-size: 10rem;
  opacity: 0.15;
  color: #1b1b1b;
  position: absolute;
  left: 16rem;
  top: 3rem;
}

.locations-list-li {
  list-style-type: none;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'El Messiri', sans-serif;
}

.map-canvas {
  height: 480px;
}

.location-title {
  color: #363636;
  font-family: 'El Messiri', sans-serif;
  margin: 1rem;
}

.foursquare-icon {
  color: #eb2270;
}
